/*index.css*/

.back{
	background-image: url('../img/promo-bg.jpg');
	/*width: 1250px;*/
	background-size: 100%;
	height: 150px;
	/*text-align: center;*/
}

.img{
	top: 10%;
	left: 5%;
	/*background-image: url('../img/返回.png');
	width: 32px;
	height: 32px;*/
}
/*.top{
	margin-top: 30%;
}*/

.color{
	background-color: #eeeeee; 
}

.div_footer{
	text-align: center;
}

ul {

	width: 100%;
}

ul:first-child {
	margin-left: 1%;
}

li {
	width: 32%;
	float: left;
}

.div_meet {
	height: 30%;
	margin-bottom: 50px;
}

hr {

	/*color:#ffffff;*/

	border:0;
	background-color:#ffffff;
	height:1px;
}
/*table tr:nth-child(odd){
	background-color: #ffffff;
}
table tr:nth-child(even){
	background-color: #efefef;
}*/
.td_text{
	text-align: right;
	margin-left: 5%;
	width: 40%;
}

table {
	margin: 0 auto;
}
