/*index.css*/

.bag{
	background-image: url('../img/promo-bg.jpg');
	background-size: 100%;
	height: 150px;
	text-align: center;
}

.p_sty{
	font-size: 22px;
	height:25px; 
	line-height:100px; 
	color: #ffffff;
}

.p_style{
	font-size: 20px;
	height:25px; 
	line-height:100px; 
	color: #ffffff;
}

.img{
	top: 10%;
	left: 5%;
}

.color{
	background-color: #eeeeee; 
}

.div_footer{
	text-align: center;
}

ul {

	width: 100%;
}

ul:first-child {
	margin-left: 1%;
}

li {
	width: 32%;
	float: left;
}

.div_meet {
	height: 30%;
	margin-bottom: 50px;
}

hr {
	border:0;
	background-color:#ffffff;
	height:1px;
}

.td_text{
	text-align: right;
	margin-left: 5%;
	width: 40%;
}

table {
	margin: 0 auto;
}
