form {
  text-align: center;
  /*background-color: #efefef;*/
}

.bag{
  background-image: url('../img/promo-bg.jpg');
  background-size: 100%;
  height: 150px;
}

.p_sty{
  font-style: italic;
  font-family: Comic Sans MS;
  font-size: 35px;
  height:25px; 
  line-height:50px; 
  color: #ffffff;
}

.p_style{
  font-size: 16px;
  height:25px; 
  line-height:60px; 
  color: #ffffff;
}

.img{
  margin-top: 15px;
  /*top: 20%;*/
  left: 5%;
}

.div_white{
  /*padding-bottom: 112%;*/
  padding-top: 15%;
  width: 90%;
  /*padding-right: 20%;
  padding-left: 20%;*/
  background-color: #ffffff;
  margin-top: 29%;
}

.first-div {
  
  position: fixed;
  top: 45%;
  left: 50%;
  /*background-color: #efefef;*/
  /*width:50%;*/
  height: 72%;

  -webkit-transform: translateX(-50%) translateY(-50%);
}

.div_join{
  margin-top: 20px;
}

