/*login.css*/
.body{
	width: 100%;
	height: 100%;
}

.first-div {
	
	margin-top: 30%;
	position: fixed;
	top: 60%;
	left: 50%;
	/*background-color: #efefef;*/
	width:50%;
	height: 50%;

	-webkit-transform: translateX(-50%) translateY(-50%);
}


body {
	text-align:center;

}

h3 {
	margin-top: 50px;
	height: 50px;
}

form {
}

#div-big {
/*	width: 100%;
	height: 50%;
	margin: auto auto;
*/

}

.color{
	background-color: #428Bca;
	color: #ffffff;
}

#input-name{


}

/*#login_btn {

	padding: 7px 60px;
}*/

.btn_div {

	margin-top: 5%;
}

.input_div {

	margin-top: 5%;
}