/*newMeeting.css*/
body {
	text-align: center;
	background-color: #efefef;
}

.bag{
	background-image: url('../img/promo-bg.jpg');
	background-size: 100%;
	height: 150px;
	text-align: center;
}

.p_sty{
	font-style: italic;
	font-family: Comic Sans MS;
	font-size: 35px;
	height:25px; 
	line-height:120px; 
	color: #ffffff;
}

.p_style{
	font-size: 16px;
	height:25px; 
	line-height:130px; 
	color: #ffffff;
}


.color{
	background-color: #EB5266;
	color: #ffffff;
}


.first-div {
	
  position: fixed;
  top: 50%;
  left: 50%;
  /*background-color: #efefef;*/
  width:50%;
  height: 50%;

  -webkit-transform: translateX(-50%) translateY(-50%);
}

.div_white{
	padding-bottom: 105%;
	padding-top: 10%;
	width: 90%;
	/*padding-right: 20%;
	padding-left: 20%;*/
	background-color: #ffffff;
	margin-top: 13%;
}
/*
.div_big {
	margin-top: 20%;
	width: 60%;
	height: 70%;
}*/

div {

	margin: 0 auto;
}

button {
	margin-top: 10%;
}

/*label.col-md-1:first-letter
{
	color:#ff0000;
}*/

#div_span {

	margin-top: 20px;
	color: red;
}


.div_footer{
	text-align: center;
}

ul {

	width: 100%;
}

ul:first-child {
	margin-left: 1%;
}

li {
	width: 32%;
	float: left;
}