 /*user.css*/
 body {
 	font-size: 15px;
 }

td {
	width: 60%;
}

.td_text{
	text-align: right;
	margin-left: 5%;
	width: 40%;
}

img {
	width: 30%
}

table {
	 margin: 0 auto;
	 background-color: #ffffff;
	 /*margin-bottom: 20px;*/
}
ul {

	width: 100%;
}
.div_footer{
	text-align: center;
}

ul:first-child {
	margin-left: 1%;
}

li {
	width: 32%;
	float: left;
}
