 /*user.css*/
 body {
 	font-size: 15px;
 }

td {
	width: 60%;
}

tr {
	width: 100%;
}

.td_text{
	text-align: right;
	margin-left: 5%;
	width: 40%;
}

img {
	width: 30%
}

table {
	 margin: 0 auto;
	 background-color: #ffffff;
	 /*margin-bottom: 20px;*/
}
<<<<<<< HEAD
ul {

	width: 100%;
}
.div_footer{
	text-align: center;
=======

.div_footer{
	text-align: center;
	margin-bottom: 40px;
}

ul {

	width: 100%;
>>>>>>> 59a3079631a9d808ced127bb12c1a49e2c3e1efe
}

ul:first-child {
	margin-left: 1%;
}

li {
	width: 32%;
	float: left;
}
<<<<<<< HEAD
=======

>>>>>>> 59a3079631a9d808ced127bb12c1a49e2c3e1efe
